/*

Changes requested by the Client

These changes were added to this temporary file because I didn't have
enough time to put them in the correct file (tooplate-infinite-loop.css).

Someone else will fix this eventually.

*/

#testimonials {
    background-size: 100%;
    position:relative;
}


    @media (min-height: 680px) and (max-height: 829px) {
      #infinite {
      background-position: center -300px;
      }
    }




@media (min-width: 768px) {

  .navbar-expand-md .navbar-nav a { padding-right: 30px!important;
    padding-left: 30px !important;   }
      }


            #infinite { background-repeat: no-repeat; min-height:375px; position: relative; }





  .tm-navbar.scroll button{
border:1px solid #707070!important;
    }




    @media (min-height: 500px) and (max-height: 679px)
    {   #infinite {
    background-position: center -400px;
  }
}
